html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
code,
em,
img,
q,
small,
strong,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tr,
th,
td,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
nav,
section,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Serif JP', 'Noto Sans JP';
  background: url("/image/washi.png") repeat;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.header__inner {
  max-width: 1280px;
  margin: auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header__body {
    height: 60px;
  }
}

.header__logo {
  font-size: 2rem;
  letter-spacing: 0.1em;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .global-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(193, 162, 80, 0.9);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 2;
  }
}

.global-nav.is-open {
  right: 0;
}

.global-nav__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .global-nav__list {
    padding: 80px 20px 40px;
    display: block;
  }
}

.global-nav__list-item {
  padding: 0 20px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .global-nav__list-item {
    padding: 0;
  }
}

.global-nav__list-item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #c1a250;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

@media screen and (min-width: 769px) {
  .global-nav__list-item:hover::before {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.global-nav__list-item--contact {
  margin-left: 20px;
  background-color: #c1a250;
}

.global-nav__list-item--contact a {
  width: 130px;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .global-nav__list-item--contact a {
    width: 100%;
    color: #c1a250;
    margin: 60px auto 0;
  }
}

.global-nav__list-item--contact .fa-chevron-right {
  display: none;
}

@media screen and (max-width: 768px) {
  .global-nav__list-item--contact .fa-chevron-right {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 768px) {
  .global-nav__list-item--contact {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
  }
}

.global-nav__link {
  font-size: 1.6rem;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .global-nav__link {
    font-size: 2rem;
    display: block;
    height: auto;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
}

.burger-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    right: 12px;
    z-index: 5;
  }
}

.burger-btn span {
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #c1a250;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger-btn span:nth-child(1) {
  top: 32%;
}

.burger-btn span:nth-child(2) {
  top: 50%;
}

.burger-btn span:nth-child(3) {
  top: 68%;
}

.burger-btn.is-open {
  background-color: #fff;
}

.burger-btn.is-open span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.burger-btn.is-open span:nth-child(2) {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  opacity: 0;
}

.burger-btn.is-open span:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

main {
  padding: 80px 0;
}

@media screen and (max-width: 768px) {
  main {
    padding: 60px 0;
  }
}

.swiper-slide {
  height: 70vh;
  overflow: hidden;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 480px) {
  .swiper-slide {
    height: 500px;
  }
}

.swiper-slide__title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  font-size: 3rem;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  color: #fff;
}

.swiper-slide-active > img {
  -webkit-transform: none;
          transform: none;
}

.swiper-slide-active .swiper-slide__title {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.home-content {
  margin-top: 120px;
}

@media screen and (max-width: 480px) {
  .home-content {
    margin-top: 60px;
  }
}

.heading-2 {
  text-align: center;
}

.heading-2 .en {
  font-family: 'Noto Sans JP';
  font-size: 1.4rem;
  display: block;
  letter-spacing: 0.1em;
}

.heading-2 .ja {
  margin-top: 8px;
  font-size: 3.6rem;
  display: block;
}

.post {
  margin-top: 40px;
  background-color: #fff;
  padding-bottom: 60px;
}

.post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post__list-cat {
  padding: 20px 0;
  background-color: #eee;
  width: calc(100% / 3);
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.post__list-cat.is-active {
  color: #fff;
  background-color: #c1a250;
  position: relative;
}

.post__list-cat.is-active::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8.5px 0 8.5px;
  border-color: #c1a250 transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.post__content {
  padding: 20px 80px 0;
}

@media screen and (max-width: 480px) {
  .post__content {
    padding: 20px 20px 0;
  }
}

.post__content-break {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__content-break:last-child {
  border-bottom: none;
}

@media screen and (max-width: 480px) {
  .post__content-break {
    padding: 16px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post__date {
  font-size: 1.4rem;
  color: #969696;
  width: 96px;
}

@media screen and (max-width: 480px) {
  .post__date {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .post__title {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
}

.post .btn-wrap {
  margin-top: 30px;
  text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 25px;
  border: 1px solid #eee;
  width: 260px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .btn {
    background-color: #c1a250;
    color: #fff;
    border: 1px solid #c1a250;
  }
}

@media screen and (min-width: 769px) {
  .btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #c1a250;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .btn:hover {
    color: #fff;
    border: 1px solid #c1a250;
  }
  .btn:hover::after {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

.service {
  margin-top: 40px;
}

.service__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% + 20px));
          transform: translate(-50%, calc(-50% + 20px));
  z-index: 2;
  color: #fff;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service__link {
  display: block;
}

.service__link::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.service__link img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (min-width: 769px) {
  .service__link:hover::after {
    opacity: 1;
  }
  .service__link:hover .service__text {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .service__link:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.service .flex-item {
  position: relative;
}

.service .flex-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.service .flex-item.aos-animate::before {
  -webkit-animation-name: cover-slide;
          animation-name: cover-slide;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  opacity: 1;
}

.service .btn-wrap {
  margin-top: 60px;
  text-align: center;
}

.service .btn-wrap .btn {
  border: 1px solid #c1a250;
}

.col-wrap .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .col-wrap .flex-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col-wrap .flex-box .flex-item {
  width: calc(100% / 2 - 1%);
  overflow: hidden;
}

.col-wrap .flex-box .flex-item:nth-child(n + 3) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .col-wrap .flex-box .flex-item {
    width: 100%;
  }
  .col-wrap .flex-box .flex-item:nth-child(n + 2) {
    margin-top: 20px;
  }
}

.footer {
  padding: 40px 0 20px;
  background-color: #333;
  color: #fff;
}

.footer .sns {
  text-align: center;
}

.footer .sns a {
  display: inline-block;
  padding: 0 5px;
}

.footer .copy {
  margin-top: 20px;
  text-align: center;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 300;
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  color: #c1a250;
}

.loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
}

.loading.loaded {
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
/*# sourceMappingURL=style.css.map */